.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
}

h2 {
  font-size: 30px;
  color: white;
}

.DivOuter {
  background-color: rgb(24,24,24);
  width : 1500px;
  height :1200px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.Body {

  width: 1320px;
  height: 500px;
  margin: 20px auto;
}

.Explore {
  text-align: left;
}

.BannerExplore {
  position: relative;
}

.TextinBanner {
  position: absolute;
  top: 40%;
  left: 20px;
  color: white;
  font-size: 18px;
  max-width: 80%;
}